<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="workflowBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ProjectBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="giwerPlant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <workflowBuilder.Properties.Settings>
            <setting name="StartLocation" serializeAs="String">
                <value>140, 30</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </workflowBuilder.Properties.Settings>
        <ProjectBuilder.Properties.Settings>
            <setting name="StartLocation" serializeAs="String">
                <value>140, 30</value>
            </setting>
        </ProjectBuilder.Properties.Settings>
        <giwerPlant.Properties.Settings>
            <setting name="StartLocation" serializeAs="String">
                <value>140, 30</value>
            </setting>
        </giwerPlant.Properties.Settings>
    </userSettings>
</configuration>
